:root {
  /* type colors */
  --type-normal: #a8a878;
  --type-fire: #f08030;
  --type-water: #6890f0;
  --type-grass: #78c850;
  --type-electric: #f8d030;
  --type-ice: #98d8d8;
  --type-fighting: #c03028;
  --type-poison: #a040a0;
  --type-ground: #e0c068;
  --type-flying: #a890f0;
  --type-psychic: #f85888;
  --type-bug: #a8b820;
  --type-rock: #b8a038;
  --type-ghost: #705898;
  --type-dragon: #7038f8;
  --type-steel: #b8b8d0;
  --type-dark: #705848;
  --type-fairy: #ee99ac;

  /* pokédex aesthetic */
  --pokedex-red: #dc0a2d;
  --pokedex-dark-red: #8b0000;
  --pokedex-screen-bg: #232323;
  --pokedex-glass-blue: #00e5ff;
  --pokedex-gold: #ffcc00;
  --pokedex-green: ##51ae5f;
}

body {
  background-color: #333;
  font-gamily: 'Press Start 2P', cursive, sans-serif;
  margin: 0;
}
